{% macro follow_button(user) %}
    <form action="{{ url_for('main.follow', username=user.username) }}" method="post">
        {{ form.hidden_tag() }}
        {{ form.submit(value=_('Follow'), class_='btn btn-primary') }}
    </form>
{% endmacro %}

{% macro unfollow_button(user) %}
    <form action="{{ url_for('main.unfollow', username=user.username) }}" method="post">
        {{ form.hidden_tag() }}
        {{ form.submit(value=_('Unfollow'), class_='btn btn-primary') }}
    </form>
{% endmacro %}
