{% extends "base.html" %}
{% from "macros.html" import render_user_info %}

{% block content %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Avatar</th>
                <th scope="col">User Information</th>
            </tr>
        </thead>
        <tbody>
            {{ render_user_info(user, current_user) }}
        </tbody>
    </table>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    <nav aria-label="Post navigation">
        <ul class="pagination">
            <li class="page-item{% if not prev_url %} disabled{% endif %}">
                <a class="page-link" href="{{ prev_url }}">
                    <span aria-hidden="true">&larr;</span> {{ _('Newer posts') }}
                </a>
            </li>
            <li class="page-item{% if not next_url %} disabled{% endif %}">
                <a class="page-link" href="{{ next_url }}">
                    {{ _('Older posts') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
