{% extends "base.html" %}
{% from "macros.html" import render_profile %}

{% block content %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Avatar</th>
                <th>User Information</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td width="256px">
                    <img src="{{ user.avatar(256) }}" alt="User Avatar">
                </td>
                <td>
                    {{ render_profile(user) }}
                </td>
            </tr>
        </tbody>
    </table>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    <nav aria-label="Post navigation">
        <ul class="pagination">
            <li class="page-item{% if not prev_url %} disabled{% endif %}">
                <a class="page-link" href="{{ prev_url }}">
                    <span aria-hidden="true">&larr;</span> {{ _('Newer posts') }}
                </a>
            </li>
            <li class="page-item{% if not next_url %} disabled{% endif %}">
                <a class="page-link" href="{{ next_url }}">
                    {{ _('Older posts') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
